<div class="masjids-form">
  <div class="masjid-form">
    <h3>Masjid Details</h3>
    <%= form_with model: @masjid do |f| %>
      <div><%= f.text_field :name, autofocus: true, placeholder: "Name of the Masjid...", class: "name" %></div>
      <div><%= f.text_field :imam, placeholder: "Imam of the Masjid...", class: "name" %></div>
      <div><%= f.text_field :mutawalli, placeholder: "Mutawalli of the Masjid...", class: "name" %></div>
      <div><%= f.text_field :sub_admin, placeholder: "Create A Token...", class: "name" %></div>
      <div><%= f.text_field :city, placeholder: "Name of the city...", class: "name" %>
      <div><%= f.text_field :village, placeholder: "Name of the village...", class: "name" %>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit 'Create', class: "Masjid-btn" %>
    <% end %>
  </div>
</div>