<div class="masjids-form">
  <div class="masjid-form">
    <h3>Masjid Details</h3>
    <%= form_with model: @masjid do |f| %>
      <div><%= f.text_field :name, autofocus: true, placeholder: "Masjid name...", class: "name" %></div>
      <div><%= f.text_field :city, placeholder: "Masjid city...", class: "name" %>
      <div><%= f.text_field :village, placeholder: "Masjid village    ...", class: "name" %>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit 'Create', class: "Masjid-btn" %>
    <% end %>
  </div>
</div>