<div class="masjids-show">
	<div class="masjid-show">
		<div><strong>Name: </strong><%= @masjid.name.titleize %></div>
		<% if @masjid.status == "no_need" %>
		  <div>
		  	<strong>Imam: </strong>
		  	<%= @masjid.imam.present? ? @masjid.imam : "unavalaible" %>
		  </div>
		<% end %>
		<div><strong>Mutawalli: </strong><%= @masjid.mutawalli.present? ? @masjid.mutawalli : "unavalaible" %></div>
		<div><strong>Address: </strong><%= @masjid.village.humanize %> <%= @masjid.city %></div>
		<div>
        <% if user_signed_in? %>
			<% if current_user.is_admin? || @masjid.sub_admin == current_user.sub_admin && current_user.sub_admin.present? %>
		        <div>
		        	<strong>Token: </strong><%= @masjid.sub_admin.present? ? @masjid.sub_admin : "unavalaible" %>
		        </div>
				<div>
				  <strong>status:</strong>
				  <% Masjid::STATUSES.each do |status| %>
				    <%= link_to_unless @masjid.status.eql?(status.to_s), status, update_status_masjid_path(@masjid, status: status), data: {turbo_method: :put} %>
				  <% end %>
				</div>
				<div>
	              <%= link_to "Edit", edit_masjid_path(@masjid), class: "edit-btn bg-blue" %>
	              <%= link_to "Delete", @masjid , data: {turbo_method: :delete, turbo_confirm: "Are you sure!"}, class: "edit-btn bg-red" %>
				</div>
			<% else %>
			    <strong>Status: </strong><%= @masjid.status %>
			<% end %>
		<% end %>
	    </div>
    </div>
</div>