<% @users.each do |u|  %>
  <div class="imam">
    <div class="name"><%= link_to u.name, user_path(u) %></div>
    <% if @showing_title && u.imam %>
      <div>Title: imam</div>  
    <% end %>
    <div>Phone no: <%= u.phone %></div>
    <div>Address: <%= u.village.humanize  %> <%= u.city  %></div>
      <% if user_signed_in? %>
      <div><% if current_user.is_admin?  || current_user == u  %>
         <%= link_to "Edit", edit_user_path(u) %>
       <% end %>
      </div>
      <% end %>
  </div>
<% end%>