<div class="home-index">
	<div class="logo">
		<img src="https://cdn.vectorstock.com/i/preview-1x/85/21/masjid-e-nababi-shareef-vector-44508521.webp">
		<div>My-Masjid</div>
	</div>
	<div class="links">
		<% if user_signed_in? %>
		  <a href="<%= user_path(current_user) %>" class="link" ><%= current_user.name %></a>
		<% else %>
		  <a href="<%= new_user_session_path %>" class="link" >Profile</a>
		<% end %>
		<% if user_signed_in? %>
			<% if current_user.sub_admin? || current_user.is_admin? %>
			   <a href="<%= new_masjid_path %>" class="link" >Add new Masjid</a>
			<% end %>
		<% end %>
		<a href="<%= empty_masjid_masjids_path %>" class="link" >Find a Masjid</a>
		<a href="<%= job_imam_users_path %>" class="link" >Find an Imam</a>
		<% if user_signed_in? %>
		  <%= link_to "log out", destroy_user_session_path, data: {turbo_method: :delete} %>
		<% else %>
		  <%= link_to "log in", new_user_session_path %>
		<% end %>
	</div>
</div>

