<table class="table table-hover table-dark">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Father name</th>
	    <th>Phone</th>
	    <th>Munji</th>
	    <th>Gehun</th>
	  </tr>
	</thead>
	<tbody>
	    <% @masjids_member.each do |m| %>

		  <tr>
		    <td><%= m.name %></td>
		    <td><%= m.father_name %></td>
		    <td>9012626767</td>
		    <% m.bethhs.each do |b| %>
			    <td><%= b.munji %></td>
			    <td><%= b.gehun %></td>
		    <% end %>
		  </tr>
	    <% end %>
	</tbody>
</table>
<%= link_to "add members", new_masjid_masjids_member_path %>
